.App {
  text-align: center;
}

.AppHeader {
  background-color: #fa99ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(8px + 2vmin);
}

p {
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 1.5vh;
  color: rgb(69, 0, 86);
  text-align:start;
  margin-left: 13vw;
}

.mindreTekst{
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 4vh;
  
  color: rgb(26, 1, 55);
}

 /* .rabbitPhoto {
  width: 350px;
  border-radius: 70%;
  margin: 2vh;
}  */

button {
  background-color: rgb(69, 0, 86);
  border-radius: 50%;
  border: solid rgb(24, 2, 20); 
  padding: 70px;
  margin-right: 1.5vw;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-weight: 400;
}

.addB, .addET{
  border-radius: 10%;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
}

div.lottoTallContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lotto{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tilleggsTall{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e021e7;
}

@media screen and (max-width: 760px){
  .lotto {width: 100px; height: 100px;} 
  .tilleggsTall {width: 100px; height: 100px;}
  p {font-weight: 400; font-size: 2em;}
  button {padding: 15px; font-size: 1em;}
 /*  .rabbitPhoto {width: 150px;} */
}

.fadeIn {
  opacity: 0.9;
  animation: fade-in 1.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}